body{
  background: #333;
  color: #fff;
}
.navbar{
  border-bottom: #007bff solid 3px;
  opacity: 0.8;
}

#home-section{
  background: url("../img/home.jpg"); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  min-width: 700px;    
}
#home-section .dark-overlay {
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.6);
}
#home-section .home-inner{
  padding-top: 150px;
}

#home-section .card-form{
  opacity: 0.8;
}
#home-section .fas,
#create-section .fas
{
  background: #fff;
  color: #007bff;
  padding: 5px;
  border-radius: 5px;
}
#explore-section .fas,
#share-section .fas{
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
